{{#each this}}
<li class="gallery__item">
    <img
      class="gallery__image"
      src="{{preview}}"
      data-source="https://cdn.pixabay.com/photo/2010/12/13/10/13/tulips-2546_1280.jpg"
      alt="{{description}}"
    />
  </a>
</li>
{{/each}}